.o-hidden{
    overflow: hidden;
}
.login-form{
        position: absolute;
        top:42%;
        left:50%;
        transform: translate(-50%,-50%);
        height:70%;
        width:80%;
        box-sizing: border-box;
        display: flex;
        
}

.login-form>div{
    height:100%;
    border-radius: 0 35px 35px 0;

}

.form-login{
        background:#ffffff;
        width:100%;
        box-sizing: border-box;
        position:relative;
}
.form-container{
    width: 511px;
    margin: 60px 106px;
}
.form-container label{
    margin-top: 10px;
}
.form-login>form{
        position:absolute;
        top:30%;
        left:50%;
        transform:translate(-50%,-50%);
        width:80%;
}

.login_graphic{
        width:40%;
        background:#fff;
}
.login_graphic img{
    position: absolute;
    width: inherit;
    margin: -61px;
    padding: 0;
    z-index: 99;
    height: 522px;
}

.form-login-title{
        font-size: 2em;
        font-weight:700;
}

.form-login-para{
        font-size: 20px;
        color:#A86AB7;
        
}

.form-login-email>label, .form-login-password>label{
        font-size: 1.5em;
        font-weight: 700;
}
.form-login-submit{
    width: 80%;
    padding: 5% 20%;
}
input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #B06AB3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 5px 6px 7px gray;
}
input[type=button],input[type=submit]{
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #AE6BB5;
    background-clip: padding-box;
    border: 1px solid #AE6BB5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1.2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: unset;
}
input[type=button]:hover,input[type=submit]:hover{
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #AE6BB5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #AE6BB5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1.2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: unset;
}